*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
EXEMPLO - Parte 6/01 - Gerador do arquivo/Win32/Debug/arquivo.sql
EXEMPLO - Parte 6/01 - Gerador do arquivo/Win32/Debug/arquivo.csv
*.csv